<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497274018294-mvaad3lq1n0pdb682ni3dgdd9phlq4l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497274018294-mvaad3lq1n0pdb682ni3dgdd9phlq4l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDmgotK0g6Gh_C4s7KKXxsoJXJz6xgOAFY</string>
	<key>GCM_SENDER_ID</key>
	<string>497274018294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambApp</string>
	<key>PROJECT_ID</key>
	<string>ambulanceapp02</string>
	<key>STORAGE_BUCKET</key>
	<string>ambulanceapp02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497274018294:ios:8c7db36dbc034534f14fd7</string>
</dict>
</plist>